.pieCharts {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.chartDropDown {
    background-color: ghostwhite;
    padding: 15px;
}

.orderTotal {
    text-align: center;
    background-color: #3C3F41;
    font-size: 18px;
    font-weight: bold;
    color: ghostwhite;
    padding: 15px;
    margin-bottom: 20px;
}