.charts {
    background-color: ghostwhite;
}

.dateSelector {
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: #0f6674;
    align-items: baseline;
}

.dateSelector h4 {
    font-size: 17px;
    margin-right: 20px;
}

.dateSelector button {
    margin-right: 30px;
    color: ghostwhite;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 6px;
}

.pieCharts {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.chartDropDown {
    background-color: ghostwhite;
    padding: 15px;
}

.orderTotal {
    text-align: center;
    background-color: #3C3F41;
    font-size: 18px;
    font-weight: bold;
    color: ghostwhite;
    padding: 15px;
    margin-bottom: 20px;
}

.dailyOrdersDateSelector {
    display: flex;
    flex-direction: row;
    color: ghostwhite;
    align-items: baseline;
}

.dailyOrdersDateSelector h6 {
    margin-right: 20px;
}

.dailyOrdersDateSelector button {
    background-color: #66b3e0;
    margin-left: 20px;
    border-radius: 5px;
    padding: 1px 20px 1px 20px;
    font-size: 15px;
}

.OrdersSummaryTable {
    margin-bottom: 30px;
}
