.tagSearchPanel {
    display: flex;
    flex-direction: row;
    color: ghostwhite;
    align-items: baseline;
    justify-content: center;
    margin: 35px 0 10px 0;
}

.tagSearchInput {
    width: 60vw;
}

.tagAddInput {
    width: 60vw;
}

.addButton {
    border-radius: 15%;
    margin-left: 10px;
    font-size: 16px;
    padding: 0 10px 2px 10px;
    background-color: green;
}

.deleteButton {
    border-radius: 15%;
    margin-left: 10px;
    font-size: 16px;
    padding: 0 10px 2px 10px;
    background-color: indianred;
}

.tagsViewPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    color: ghostwhite;
    align-items: baseline;
    justify-content: flex-start;
    background-color: #3C3F41;
    height: 35vh;
}

.tagButton {
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    background-color: #66b3e0;
}

.tagButtonSelected {
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    background-color: seagreen;
}

.tagEditPanel {
    display: flex;
    flex-direction: column;
    color: ghostwhite;
    justify-content: center;
    align-items: center;
    background-color: #3C3F41;
    height: 35vh;
}

.tagEditPanel div {
    margin-bottom: 10px;
}

.tagEditPanel h5 {
    font-size: 14px;
}

.tagEditPanel textarea {
    height: 20vh;
    width: 60vw;
}

.tagEditPanel button {
    border-radius: 5px;
    margin: 5px;
    padding: 5px 30px 5px 30px;
    font-size: 16px;
    background-color: #66b3e0;
}
