.navigation {
    display: flex;
    flex-direction: column;
    background-color: #3C3F41;
    width: 250px;
    height: calc(100vh - 130px);

    /* Horizontal Align - depends upon flex-direction too */
    align-items: center;
    overflow: hidden;
    font-size: 16px;
}

.navigationItem {
    background: #31708E;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px;
    color: azure;
    border-bottom: 1px solid #EEE;
}

.navigationItem a {
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.navigationItem a:hover {
    background-color: #173847;
    box-sizing: border-box;
}

.collapsableNavigationItem {
    padding: 15px;
}

.navigationSubItem {
    background: #66b3e0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px;
    color: azure;
}

.navigationItemBottom {
    margin-bottom: 0px;
    margin-top: auto;
}