.Reporting {
    display: inline-block;
}

.ReportingItem {
    padding: 40px;
}

.ReportingItem h1 {
    background-color: #31708e;
    font-size: 16px;
    font-weight: bold;
    color: ghostwhite;
    padding: 15px;
    margin-bottom: 20px;
}

.ReportingItem h2 {
    font-size: 14px;
    color: ghostwhite;
    font-weight: normal;
}

.ReportingItem a {
    margin-top: 20px;
    font-size: 15px;
    color: ghostwhite;
}

.ReportingItem button {
    background-color: #66b3e0;
    border-radius: 8px;
    padding: 10px 15px;
}
