.footer {
    background: #2D2E30;
    color: #4CA8D9;
    margin-bottom: 0px;
    margin-top: auto;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 12px;
}