.DataTable {
    padding-top: 20px;
}
.DataTable table {
    border-spacing: 0;
    border: 1px solid black;
    width: 100%;
}

.DataTable tr:last-child td {
    border-bottom: 0;
}

.DataTable th, td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.DataTable th {
    background-color: #31708E;
}

.DataTable td {
    background-color: #3C3F41;
    color: ghostwhite;
}

.DataTable th:last-child {
    border-right: 0;
}

.DataTable td:last-child {
    border-right: 0;
}